<!Doctype html>
<html>
  <head>
      <title>Whegs Control - Controls</title>
  </head>

  <body>
    <form method="POST" action="control">
      <button type="submit" name="action" value="forward">Vorwärts</button>
      <button type="submit" name="action" value="back">Rückwärts</button>
      <button type="submit" name="action" value="left">Links</button>
      <button type="submit" name="action" value="right">Rechts</button>
      <button type="submit" name="action" value="stop">Stop</button>
    </form>
  </body>
</html>
