<!Doctype html>
<html>
  <head>
        <title>Whegs Control</title>
        <style type="text/css">
            .container {
                display: flex;
                flex-direction: column;
            }

            .control iframe {
                height: 60px;
            }

            .status iframe {
                height: 700px;
            }
        </style>
  </head>

  <body>
      <div class="container">
          <div class="left-container">
              <div class="stream"><img src="/stream"></div>
              <div class="control"><iframe src="control" frameborder="0"></iframe></div>
          </div>
          <div class="status"><iframe src="status" frameborder="0"></iframe></div>
      </div>
  </body>
</html>
